html, body{
    height: 100%;
    font-family: Consolas, "Courier New", monospace;
}

.row {
    display: flex;
    height: 75%;
}

.column {
    flex: 50%;
    height: 100%;
}

.code {
    height: 100%;
}

#paintcode {
    width: 95%;
    height: 100%;
    font-size: 1.25rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    overflow-y: scroll;
    resize: none;
}

#canvas {
    width: 700px;
    height: 700px;
    background-color: lightgray;
}

#submitbutton {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    font-size: 30px;
    position: relative;
    right: -80%;
}